<div class="poll">
  <img ng-if="loading" src="ajax-loader.gif" />
  
  <div ng-if="poll">
    <form name="pollForm">
  
      <p class="poll__title">{{poll.title}}</p>
      
      <div class="poll__answer" ng-repeat="answer in ::poll.answers">
        <input name="poll_{{poll.pollId}}" id="poll_{{poll.pollId}}_{{answer.id}}" type="radio" ng-model="poll.selectedAnswerId" ng-value="{{answer.id}}">
        <label for="poll_{{poll.pollId}}_{{answer.id}}">{{answer.text}}</label>
          <br/>
      </div>

      <button class="poll__submit" ng-disabled="pollForm.$pristine" ng-click="submitAnswer();">Submit</button> 
    
    </form>
  </div>

  <div ng-if="error">Error occurred.</div>
</div>