<div class="poll">

  <div ng-switch on="pollState">

    <div ng-switch-when="loading"><img src="ajax-loader.gif" /></div>

    <div ng-switch-when="answering">
      <form name="pollForm">
    
        <p class="poll__title">{{poll.title}}</p>
        
        <div class="poll__answer" ng-repeat="answer in ::poll.answers">
          <input name="poll_{{poll.pollId}}" id="poll_{{poll.pollId}}_{{answer.id}}" type="radio" ng-model="poll.selectedAnswerId" ng-value="{{answer.id}}">
          <label for="poll_{{poll.pollId}}_{{answer.id}}">{{answer.text}}</label>
            <br/>
        </div>

        <button class="poll__submit" ng-disabled="pollForm.$pristine" ng-click="submitAnswer();">Submit</button> 
      
      </form>
    </div>
    <div ng-switch-when="finished"><div class="poll__result"><span>Thank you !</span></div> </div>

    <div ng-switch-when="error"><div class="poll__result"><span>Error occurred.</span></div></div>

  </div>
</div>
